
<div class="row p-3">
    <app-alert [alertType]="'success'" [alertMessage]="'Its successful message'"></app-alert>
    <div class="col-8">
        <div class="card">
            <div class="card-headrer bg-success p-1 text-center">
                client List
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Sr No</th>
                                    <th>Company Name</th>
                                    <th>Person Name</th>
                                    <th>Cotact Number</th>
                                    <th>City</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for(client of clientList; track $index){
                                    <tr>
                                        <td>{{$index+1}}</td>
                                        <td>{{client.companyName}}</td>
                                        <td>{{client.contactPersonName}}</td>
                                        <td>{{client.contactNo}}</td>
                                        <td>{{client.city}}</td>
                                        <td>
                                            <button class="btn btn-danger me-2" (click)="onDeleteClient(client.clientId)">Delete</button>
                                            <button class="btn btn-success" (click)="onEditClient(client)">Edit</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-headrer bg-success p-1 text-center">
                New client
            </div>
            <div class="card-body">
                <form #clientForm="ngForm">
                    <div class="row">
                        <div class="col-6">
                            <label for="personName">Person Name</label>
                            <input type="text" id="personName" name="personName" #personName="ngModel" minlength="3" [(ngModel)]="clientObj.contactPersonName" class="form-control" required>
                            <div class="text-danger">
                                @if(personName.invalid && personName.touched){
                                    <span>Person Name is required</span>
                                }@if(personName.errors?.['minlength']){
                                    <span>Person Name must be at least 3 characters long</span>
                                }                          
                            </div>
                            
                        </div>
                        <div class="col-6">
                            <label for="companyName">Company Name</label>
                            <input type="text" id="companyName" name="companyName" [(ngModel)]="clientObj.companyName" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="contactNo">Cotact Number</label>
                            <input type="tel" id="contactNo" name="contactNo" [(ngModel)]="clientObj.contactNo" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="city">City</label>
                            <input type="text" id="city" name="city" [(ngModel)]="clientObj.city" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="state">State</label>
                            <input type="text" id="state" name="state" [(ngModel)]="clientObj.state" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="pincode">Pincode</label>
                            <input type="number" id="pincode" name="pincode" [(ngModel)]="clientObj.pincode" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="address">Address</label>
                            <textarea name="address" id="address" cols="30" rows="3" [(ngModel)] = "clientObj.address" class="form-control"></textarea>
                        </div>
                        <div class="col-6">
                            <label for="employeeStrength">Employee Strength</label>
                            <input type="text" id="employeeStrength" name="employeeStrength" [(ngModel)]="clientObj.employeeStrength" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="gstNo">GST No</label>
                            <input type="text" id="gstNo" name="gstNo" [(ngModel)]="clientObj.gstNo" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="regNo">Registration No</label>
                            <input type="text" id="regNo" name="regNo" [(ngModel)]="clientObj.regNo" class="form-control">
                        </div>
                        <div class="row mt-3">
                            <div class="col-6">
                                <app-my-button btnClass="btn btn-success w-100" [btnText]="clientObj.clientId != 0 ? 'Update' : 'Save'" (onBtnClicked)="onSaveClient()" ></app-my-button>
                            </div>
                            <div class="col-6">
                                <app-my-button btnText="Reset" btnClass="btn btn-danger w-100" (onBtnClicked)="onResetForm()"></app-my-button>
                            </div>
                        </div>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>