<div class="row align-items-center justify-content-center">
    <div class="col-10">
        <table class="table table-striped border">
            <thead>
                <tr>
                    <th>Role Id</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let role of roleList">
                    <td>{{role.roleId}}</td>
                    <td>{{role.role}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>