<div class="row p-3">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-primary p-1 text-center text-white">
                Client Project List
            </div>
            <div class="card-body">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Sr No</th>
                            <th>Project Name</th>
                            <th>Start Date</th>
                            <th>Expected End Date</th>
                            <th>Client Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let project of projectList; index as i">
                            <td>{{ i + 1 }}</td>
                            <td>{{ project.projectName }}</td>
                            <td>{{ project.startDate | date: 'yyyy-MM-dd'}}</td>
                            <td>{{ project.expectedEndDate | date: 'yyyy-MM-dd'}}</td>
                            <td>{{ project.clientName }}</td>
                            <td>
                                <button class="btn btn-danger me-2" (click)="onDeleteProject(project.clientProjectId)">Delete</button>
                                <button class="btn btn-success" (click)="onEditProject(project)">Edit</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-header bg-primary p-1 text-center text-white">
                New Client Project
            </div>
            <div class="card-body">
                <form [formGroup]="projectForm">
                    <div class="row">
                        <div class="col-6">
                            <label for="projectName">Project Name</label>
                            <input type="text" id="projectName"   formControlName="projectName" class="form-control">
                            <div class="text-danger">
                                @if(projectForm.controls['projectName'].invalid && projectForm.controls['projectName'].touched){
                                    <small>this is required</small>
                                }
                                @if(projectForm.controls['projectName'].errors?.['minlength']){
                                    <small>Project Name must be at least 3 characters long</small>
                                }
                            </div>
                        </div>
                        <div class="col-6">
                            <label for="startDate">Start Date</label>
                            <input type="date" id="startDate"   formControlName="startDate" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="expectedEndDate">Expected End Date</label>
                            <input type="date" id="expectedEndDate"   formControlName="expectedEndDate" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="empName">Contact Name</label>
                            <input type="text" id="empName"    formControlName="contactPerson" class="form-control" required>
                        </div>
                        <div class="col-6">
                            <label for="empId">Employee Mobile</label>
                            <input type="number" id="empId"   formControlName="contactPersonContactNo" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="empCode">Contact Email</label>
                            <input type="text" id="empCode"   formControlName="contactPersonEmailId" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="empEmailId">Total Employee</label>
                            <input type="email" id="empEmailId"   formControlName="totalEmpWorking" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="empDesignation">Project Cost</label>
                            <input type="text" id="empDesignation"   formControlName="projectCost" class="form-control">
                        </div>

                        <div class="col-12">
                            <label for="clientName">Project Description</label>
                            <textarea  cols="10" rows="3" formControlName="projectDetails" class="form-control"></textarea>
                        </div>
                        <div class="col-6">
                            <label for="clientName">Select Client</label>
                            <select formControlName="clientId" formControlName="clientId" class="form-control">
                                @for(client of clientList; track $index){
                                    <option value="{{client.clientId}}">{{client.companyName}}</option>
                                }
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="clientName">Lead By</label>
                            <select formControlName="leadBy" formControlName="leadByEmpId" class="form-control">
                                @for(employee of employeeList; track $index){
                                    <option value="{{employee.empId}}">{{employee.empName}}</option>
                                }
                            </select>
                        </div>
                        <div class="row mt-3">
                            <div class="col-6">
                                <button class="btn btn-primary w-100" [disabled]="projectForm.invalid" (click)="onSaveProject()">
                                   Save
                                </button>
                            </div>
                            <div class="col-6">
                                <button class="btn btn-danger w-100" (click)="onResetForm()">Reset</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
