

<div class="row">
    <div class="col-12 text-center p-3">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary" (click)="changeComponent('Roles')">Roles</button>
            <button type="button" class="btn btn-secondary" (click)="changeComponent('Designation')">Designation</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12" *ngIf="currentComponent == 'Roles' ">
        <app-roles></app-roles>
    </div>
    <div class="col-12" *ngIf="currentComponent == 'Designation' ">
        <app-designation></app-designation>
    </div>
</div>